nav{
    display: grid;
    background-image: url("/imgs/bakery.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}



@media (min-width:1000px){
    nav{
        display: grid;
        background-image: url("/imgs/bakery.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 70vh;
    }
    
}